<section class="hero">
<div class="container">
<div class="row align-items-center">
<div class="col-md-5">
<img src="assets/images/nlubalo.jpeg" class="img-fluid rounded-circle hero-image" alt="Your Name" style="max-width: 300px;">
</div>
<div class="col-md-7 text-md-start">
<h3>Data with <span class="text-accent">purpose</span>. Engineering with <span class="text-accent">impact</span></h3>

<p></p>
<p>I’m a data pro fluent in scalable pipelines, cloud platforms, Agentic AI, and LLM-powered analytics. I turn raw data into intelligent systems that learn, adapt, and deliver insights at scale.</p>
<p>From real-time streaming to bulletproof ETL, from AI-first architectures, my expertise thrives at the intersection of data engineering, AI, and strategy. I’m obsessed with making complex data ecosystems run seamlessly — and turning chaos into clarity.</p>
<div class="d-flex justify-content-between mt-4">
<a href="{{ site.baseurl }}/about.html" class="btn btn-primary btn-sm">View Resume</a>
<a href="#" class="btn btn-primary btn-sm">Projects</a>
</div>
</div>
</div>
</div>
</section>