<div class="card h-100 shadow-sm border-0 bg-custom-gray overflow-hidden">
  <div class="sticky-card-img" style="height: 120px; background: url({{ post.image | relative_url }}) center/cover no-repeat;">
  </div>

  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text small text-muted mb-4">
      {{ post.excerpt | strip_html | strip_newlines | truncate: 100 }}
    </p>

    <div class="mt-auto text-start">
      <a href="{{ post.url | relative_url }}" class="btn btn-primary btn-sm px-4">Read More</a>
    </div>
  </div>
</div>